* {
  font-family: 'Indie Flower', cursive;
}

input:checked + label {
  text-decoration: line-through;
}

.header {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
