:root {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
}

input:checked + label {
  text-decoration: line-through;
}

input,
button {
  font-family: 'Indie Flower', cursive;
  font-size: 0.8rem;
  padding: 0.3rem;
  margin: 0.5rem;
  border: 0;
}

input[type='text'] {
  border-bottom: #ccc 1px solid;
}

button {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  color: black;
  background: #e0e0e0;
}

button:active {
  background: #ccc;
}

.header h1 {
  font-size: 2.5rem;
  padding: 1.2rem;
  text-align: center;
}

.main {
  max-width: 300px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
}

.clean-task {
  font-size: 1.4rem;
  font-weight: bold;
}

.bg-color-danger {
  background-color: tomato;
  color: antiquewhite;
}

.bg-color-success {
  background-color: #28a745;
  color: antiquewhite;
}

.color-danger {
  color: tomato;
}

.color-success {
  color: #28a745;
}

@media (min-width: 500px) {
  :root {
    font-size: 25px;
  }

  input,
  button {
    font-size: 1rem;
  }

  .main {
    max-width: 500px;
  }
}
